.App__app-rate-root_3Pwj8aCO[data-v-eefced42] {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999999999;
    background: rgba(0, 0, 0, 0.151);
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App__app-rate-root_3Pwj8aCO *[data-v-eefced42] {
    all: initial;
    line-height: normal;
    font-family: "Didact Gothic";
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g[data-v-eefced42] {
    width: 630px;
    height: 450px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    transition: 0.2s ease;
    transform: scale(0.8);
    opacity: 0;
    padding-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 60px;
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__logo_26yDc693[data-v-eefced42] {
    width: 190px;
    height: auto;
    box-shadow: 0px 6px 17px -10px rgba(0, 0, 0, 0.55);
    border-radius: 50%;
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__title_3Yf-v9xs[data-v-eefced42] {
    margin-top: 10px;
    font-size: 46px;
    font-weight: normal;
    color: #259cfe;
    font-family: "Fredoka One";
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__subtitle_26MV5W4h[data-v-eefced42] {
    margin-top: 10px;
    font-size: 22px;
    color: white;
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__benefits_14oMPuu1[data-v-eefced42] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 4px;
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__benefits_14oMPuu1 .App__item_3sI_Wrxz[data-v-eefced42] {
    display: flex;
    align-items: center;
    margin: 6px 12px;
    font-size: 14px;
    color: black;
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__benefits_14oMPuu1 .App__item_3sI_Wrxz img[data-v-eefced42] {
    margin-right: 10px;
    margin-bottom: -1px;
    width: 14px;
    height: auto;
}

.App__app-rate-root_3Pwj8aCO .App__modal_3oqzjl0g .App__rate-btn_2bjgK090[data-v-eefced42] {
    all: initial;
    margin-top: 22px;
    font-size: 18px;
    color: white;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff8d4f;
    border-bottom: 3px solid #d48357;
    border-radius: 10px;
    padding: 13px 20px;
    box-sizing: border-box;
    font-family: "Didact Gothic";
    cursor: pointer;
}
.card {
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.card-image {
    width: 300px;
    height: 200px;
}

.card-container {
    width: 100%;
}

.header {
    display: flex;
    background-color: gray;
    border-radius: 20px;
    margin-bottom: 20px;
}

.header-image {
    margin: 12px;
    border-radius: 30px;
}

.header-text {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkred;
    padding-top: 40px;
}

.base {
    background-color: cornflowerblue;
    width: 100%;
    text-align: left;
    height: 100px;
    display: inline;
    padding: 0;
    margin: 0;
}

.footer-content {
    background-color: red;
}

#group-info {
    color: white;
    text-align: center;
    border-spacing: 12px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#group-info thead {
    font-size: 25px;
}

.table-scroll {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.table-wrap {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.table-scroll table {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 0;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
    white-space: nowrap;
    vertical-align: top;
}

.table-scroll thead,
.table-scroll tfoot {
    background: #f9f9f9;
}

.stick-col {
    position: -webkit-sticky;
    position: sticky;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.clone th,
.clone td {
    visibility: hidden;
}

.clone td,
.clone th {
    border-color: transparent;
}

.clone tbody th {
    visibility: visible;
    color: red;
}

.clone .fixed-side {
    border: 1px solid #000;
    background: #eee;
    visibility: visible;
}

.clone thead,
.clone tfoot {
    background: transparent;
}

.introduce-header {
    font-size: 40px;
}

.introduce-content {
    font-size: 20px;
}
.iactive {
    display: none;
}
