.link{
    text-decoration: none;
    color: darkblue;
    display: none;
    visibility: hidden;
}
.link:visited{
    color:crimson;
}
.link:hover{
    background-color: aqua;
}
h2{
    background-color:bisque;
}
#id{
    background-color: blue;
}
input{
    color:steelblue;
    background-color:darkkhaki;
}