<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Nghiên cứu khoa học sinh viên</title>
</head>

<body>
    <section class="overview">
        <div style="display: flex;">
            <div class="pie-chart">
                <img src="{{url_for('static', filename=imgname)}}" alt="OverviewPieChart">
            </div>
            <div class="course-info">
                {{course_info|safe}}
            </div>
        </div>
        <div class="student">
            <form action="http://127.0.0.1:5000/submit" method="POST">
                <label for="object">Select object: </label>
                <select name="student">
                {% for obj in lstObj %}
                <option value={{obj}} selected>{{obj}}</option>
                {% endfor %}
            </select>
                <input type="submit">
            </form>
        </div>
    </section>

    <section class="detail">
        <table>
            <tbody>
                <tr class="info">
                    {{info|safe}}
                </tr>
                <tr class="chart">
                    {{chart|safe}}
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>