<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Nghiên cứu khoa học sinh viên</title>
  </head>

  <body>
    <section>
      <div class="header">
        <img alt="VLULogo" class="header-image" src="../static/VLULogo.png">
        <div class="header-text">
          Xây dựng plug-in tích hợp trong Moodle (E-Learning)<br/> phục vụ phân tích dữ liệu<br/>và hỗ trợ đánh giá hiệu quả học tập</div>
        </div>
      </div>

      {% block content %}
      
      {% endblock%}

      {{content|safe}}
	  
      <section class="footer-content">
        <table id='group-info'>
          <thead>
            <tr>
              <td>NHÓM SINH VIÊN</td>
              <!-- <td>MÃ SINH VIÊN</td> -->
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td>Trần Đức Toàn (Trưởng nhóm)</td>
              <td>187IT23746</td>
            </tr>
            <tr>
              <td>Lê Ngọc Lợi</td>
              <td>187IT14101</td>
            </tr>
            <tr>
              <td>Nguyễn Thái Anh</td>
              <td>187IT14044</td>
            </tr>
        <tr>
              <td>Cao Khánh Việt</td>
              <td>187IT23616</td>
            </tr>
          </tbody>
        </table>
      </section>

    </section>
  </body>
</html>