<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a test HTML response for NCKH">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/test.css">
        <title>Functions</title>
    </head>

    <body>
        <p><h1><center id="id">QUÉO CÒM</center></h1></p><hr/>
        <table>
            <thead>
                <caption><center><h1>List of functions</h1></center></caption>
                <tr>
                    <th scope="col">Column 1</th>
                    <th scope="col">Column 2</th>
                    <th scope="col">Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Find by attributes</td>
                    <form action="http://127.0.0.1:5000/submit" method="POST" target="_blank">
                        <td>
                            <input type="text" name="queryFind"/>
                        </td>
                        <td>
                                <input type="submit"/>
                        </td>
                    </form>
                </tr>

                <tr>
                    <td>Stat by attribute</td>
                    <form action="http://127.0.0.1:5000/submit" method="POST" target="_blank">
                        <td>
                            <input type="text" name="queryStat"/>
                        </td>
                        <td>
                            <input type="submit"/>
                        </td>
                    </form>
                </tr>

                <tr>
                    <form action="http://127.0.0.1:5000/submit" target="_blank" method="POST">
                        <td>Score all the student in collection by attirbute</td>
                        <td>
                            <input type="text" name="queryScore"/>
                        </td>
                        <td>
                            <input type="submit">
                        </td>
                    </form>
                </tr>

                <!--<tr>
                    <form action="http://127.0.0.1:5000/submit" target="_blank" method="POST">
                        <td>List all items in distinct</td>
                        <td>
                            <input type="text" name="queryList">
                        </td>
                        <td>
                            <input type="submit">
                        </td>
                    </form>
                </tr>-->
            </tbody>
        </table>
    </body>

</html>